<!DOCTYPE html>
<html>
<head th:fragment="commonHead">
	<link th:fragment="favicon" rel="icon" href="/img/favicon.png" type="image/x-icon" />

	<div th:fragment="styles">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	</div>

	<div th:fragment="scripts">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/js/updateHeader.js"></script>
		<script src="/js/toasts.js"></script>
	</div>
</head>
<body>
</body>
</html>