<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:fragment="header">
		<h1>Store Manager</h1>
		<nav>
			<ul>
				<li><a href="/">Main menu</a></li>
				<li><a href="/create">Create Store</a></li>
				<li>
					<a href="#">Manage</a>
					<ul>
						<li><a href="/manage/stock">Stock</a></li>
						<li><a href="/manage/orders-unprocessed">Orders (To process)</a></li>
						<li><a href="/manage/orders-processed">Orders (Processed)</a></li>
						<li><a href="/manage/clients">Clients</a></li>
						<li><a href="/manage/providers">Providers</a></li>
						<li><a href="/manage/employees">Employees</a></li>
					</ul>
				</li>
				<li><a href="/print">Print Store Info</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>