<!DOCTYPE html>
<html>
<head>
	<th:block th:fragment="css-js">
		<!-- Header -->
		<link th:if="${standalone==true}" rel="stylesheet" th:href="@{/css/common.css}">
		<link th:fragment="x" rel="stylesheet" th:href="@{/css/header.css}">
		<script defer th:src="@{/js/pages/header.js}"></script>
	</th:block>
</head>
<body>
	<header th:fragment="header">
		<h1> <a href="/">Store Manager</a></h1>
		<nav>
			<ul>
				<li><a href="/home">Main menu</a></li>
				<li><a href="/create">Create/Load Store</a></li>
				<li>
					<a href="#">Manage</a>
					<ul>
						<li><a href="/manage/stock">Stock</a></li>
						<li><a href="/manage/orders-unprocessed">Orders (To process)</a></li>
						<li><a href="/manage/orders-processed">Orders (Processed)</a></li>
						<li><a href="/manage/clients">Clients</a></li>
						<li><a href="/manage/providers">Providers</a></li>
						<li><a href="/manage/employees">Employees</a></li>
					</ul>
				</li>
				<li><a href="/print">Print Store Info</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>