/* Reset default browser styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* #region Store name heading */
h1 {
	font-size: 36px;
	font-weight: bold;
}

h1 a {
	color: #fff;
	text-decoration: none;
}
/* #endregion */

/* #region body, headers and paragraphs */

/* Set the page font */
body {
	min-height: 100vh;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	margin: 40px 0 10px;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
}
h3 {
	margin: 20px 0 0;
	font-size: 26px;
	text-align: center;
}
p {
	margin-bottom: 10px;
	font-size: 18px;
}
.inline-header {
	display: inline-block;
	margin: 0 0 10px;
}
.titlebar-container {
	display: flex;
	margin: 0 0 40px;
	justify-content: space-between;
	align-items: center;
	vertical-align: center;
}
.titlebar-elements {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* #endregion */


/* #region Page header */
header {
	margin: 0 0 20px;
	padding: 20px;
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* #endregion */

/* #region Navigation menu */
nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 2em;
	font-size: 18px;
}

nav ul li:hover > ul {
	display: block;
}

nav ul ul {
	display: none;
	position: absolute;
	background-color: #2f2f2f;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
}

nav ul ul li {
	display: block;
	margin: 0.2em 0.3em;
	font-size: 16px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}
nav ul li a.active {
	font-weight: bold;
}
/* #endregion */

/* #region Footer */
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
/* #endregion */


/* #region Toast styles */
.toast {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: 99999;
    opacity: 0;
    transition: top 1s ease-out, opacity 0.5s ease-in-out; /* Add transition for top property */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.toast.show {
    animation: slideInFadeOut 5s ease-in-out forwards;
}

@keyframes slideInFadeOut {
    0% {
        top: -100px;
        opacity: 0;
    }
    10% {
        top: 20px; /* Adjusted final position after slide-in */
        opacity: 1;
    }
    85% {
        top: 20px; /* Maintain position for a while */
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}
/* #endregion */


/* #region Main content */
.info-card {
	max-width: 800px;
	margin: 10px auto 10px;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
}
.info-card h3 {
	text-align: left;
	font-size: 24px;
	margin: 20px 0;
}
/* #endregion */


/* #region Operations list for the manage page */
.operations {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.operations li {
  margin-bottom: 10px;
}

.operations a {
  display: block;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.operations a:hover {
  background-color: #333;
  color: #f2f2f2;
}
/* #endregion */


/* #region Error page */
.error {
  max-width: 800px;
  margin: 30px auto 50px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.error h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 20px;
}

.error p {
  font-size: 18px;
  margin-bottom: 20px;
}

.error a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.error a:hover {
  background-color: #777;
  color: #fff;
}
/* #endregion */


/* #region Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
	margin: 0 10px;
	text-align: center;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
	margin: 10px 0;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

form button[type="submit"]:hover {
    background-color: #555;
}

/* #endregion */


/* #region Print page */
code.toString {
	word-wrap: break-word;
}
/* #endregion */


/* #region List page */
/* Style the stock container */
.stock-container {
    max-width: 800px;
    margin: 30px auto;
}

/* #region Style the search bar */
.search-bar {
	height: 40px;
    display: flex;
    align-items: center;
	float: right;
    width: 80%;
    margin: 10px;
    border-radius: 50px;
	border: 1px solid #ccc;
    overflow: hidden;
}

.search-bar.selected {
	border: 1px solid #333;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
	border: none !important;
    border-radius: 20px 0 0 20px;
}
.search-input:focus {
	outline: none !important;
}

.search-button {
    background-color: transparent;
    border: none;
    color: #333;
    padding: 10px;
	margin: 0 5px;
    border-radius: 0 20px 20px 0;
    transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
    background-color: transparent;
    cursor: pointer;
    color: #666;
}
/* #endregion */

/* #region Style the insert buttons */
.insert-buttons {
    margin: 20px 0;
    text-align: center;
}

.insert-buttons button {
	height: 39px;
	width: 39px;
	text-align: center;
	vertical-align: center;
    background-color: transparent;
    color: #666;
    padding: 10px;
    border: 1px solid #bbb;
	border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.insert-buttons button:hover {
    background-color: #eee;
    color: #333;
}
/* #endregion */

/* #region Style the stock table */
.stock-table {
    border-collapse: collapse;
    width: 100%;
}

.stock-table th,
.stock-table td {
    padding: 8px 12px;
    text-align: left;
}

.stock-table th {
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}
.stock-table col.id {
	width: 55px ;
}
.stock-table col.brand {
	width: 250px;
}
.stock-table col.button {
	width: 40px;
}

.stock-table tbody tr:hover {
    background-color: #f5f5f5;
}

.open-button {
	width: 20px;
    background-color: transparent;
    border: none;
    color: #333;
    padding: 5px;
	margin: 0 10px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.open-button:hover {
    color: #555;
}
/* #endregion */

/* #endregion */
