<!DOCTYPE html>
<html>
<head>
	<title>Create Store</title>
	<div th:replace="/fragments/commonHead :: commonHead"></div>
	<div th:replace="/fragments/header :: css-js"></div>
	<div th:replace="/fragments/footer :: css-js"></div>
	<div th:replace="/fragments/varToast :: css-js"></div>
	<!-- Create -->
	<link rel="stylesheet" th:href="@{/css/create.css}">
	<script type="module" th:src="@{/js/pages/create.js}"></script>
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
		<h2>Create / Load Store</h2>
		<form id="create-form">
			<div class="form-group">
				<label for="storeName">Store Name:</label>
				<input type="text" id="storeName" name="storeName" required>
			</div>
			<div id="submit-buttons">
				<button class="create" type="submit" name="mode" value="create">Create</button>
				<button class="load" type="submit" name="mode" value="load">Load</button>
			</div>

			<div id="popup" class="popup">
				<div class="popup-content">
					<h3>This store already exists</h3>
					<hr />
					<p>There is already a store named '<span id="var-storeName"></span>'.</p>
					<p>Do you want to load the existing store or overwrite it with a new store?</p>
					<div class="popup-buttons">
						<button class="cancel" type="reset">Cancel</button>
						<button class="create-f" type="submit" name="mode" value="create-f">Overwrite</button>
						<button class="load" type="submit" name="mode" value="load">Load</button>
					</div>
				</div>
			</div>
		</form>
	</main>

	<div th:replace="/fragments/varToast :: varToast"></div>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>