<!DOCTYPE html>
<html>
<head>
	<title>Store Management System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
		<h2>Manage employees Menu</h2>
		<div class="info-card">
			<ul class="operations">
				<li><a href="#">Insert client</a></li>
				<li><a href="#">Remove client</a></li>
				<li><a href="#">Modify client</a></li>
				<li><a href="#">Search client</a></li>
				<li><a href="#">List clients</a></li>
				<li><a href="#">Main menu</a></li>
			</ul>
		</div>
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>