<!DOCTYPE html>
<html>
<head>
	<title>Page Not Found</title>
	<div th:replace="/fragments/commonHead :: commonHead"></div>
	<div th:replace="/fragments/header :: css-js"></div>
	<div th:replace="/fragments/footer :: css-js"></div>
	<link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<div class="error">
		<h2>Oops! Page not found</h2>
		<p>The page you requested could not be found on this server.</p>
		<a href="/">Go back to homepage</a>
	</div>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>