<!DOCTYPE html>
<html>
<head>
	<title>Store Management System</title>
    <link rel="stylesheet" href="/css/style.css">
	<script th:replace="/fragments/scripts :: scripts"></script>
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
		<h2>Main menu</h2>
		<div class="info-card">
			<h3>Store name: <span th:text="${storeName}"></span></h3>
			<hr/>
			<h3>Total Cost and Benefit:</h3>
			<p>Total Cost: <span th:text="${store.stockCost}">eur</span> €</p>
			<p>Total Benefit: <span th:text="${store.stockBenefit}">eur</span> €</p>
		</div>
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>