<!DOCTYPE html>
<html>
<head>
	<title>Store Management System</title>
	<div th:replace="/fragments/commonHead :: commonHead"></div>
	<div th:replace="/fragments/header :: css-js"></div>
	<div th:replace="/fragments/footer :: css-js"></div>
	<div th:replace="/fragments/varToast :: css-js"></div>
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
		<h2>Main menu</h2>
		<div class="info-card">
			<h3>Store name: <span th:text="${store.name}"></span></h3>
			<hr/>
			<h3>Total Cost and Benefit:</h3>
			<p>Total Cost: <span th:text="${#numbers.formatDecimal(store.stockCost, 1, 2)}"></span> €</p>
			<p>Total Benefit: <span th:text="${#numbers.formatDecimal(store.stockBenefit, 1, 2)}"></span> €</p>
		</div>
	</main>

	<div th:replace="/fragments/varToast :: varToast"></div>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>