<!DOCTYPE html>
<html>
<head>
    <title>Store Management System</title>
    <div th:replace="/fragments/commonHead :: commonHead"></div>
    <div th:replace="/fragments/header :: css-js"></div>
    <div th:replace="/fragments/footer :: css-js"></div>
    <!-- List -->
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <script th:inline="javascript">
        const TABLE_DESC = /*[[${listConfig}]]*/ ""
        const CONTEXT = /*[[${context}]]*/ ""
    </script>
    <script type="module" th:src="@{/js/list.js}"></script>
</head>
<body>
    <header th:replace="/fragments/header :: header"></header>

    <main>
        <div class="titlebar-container">
            <h2 class="inline-header"><span th:text="${context.title}"></span></h2>
            <div class="titlebar-elements">
                <div class="search-bar">
                    <input type="text" placeholder="Search ID..." class="search-input" />
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                </div>
                <button type="button" class="insert-button"><i class="fas fa-plus"></i></button>
            </div>
        </div>

        <div class="list-ui-container">
            <div class="content-card table-container" id="list-container">
                <table class="context-table">
                    <thead>
                        <!-- Headers will be added here -->
                    </thead>
                    <tbody>
                        <!-- Items will be added here here -->
                    </tbody>
                </table>
                <button type="button" class="insert-button"><i class="fas fa-plus"></i></button>
            </div>
            
            <aside class="content-card side-menu hide" id="side-menu">
                <div class="content hide">
                    <div class="titlebar">
                        <h3><span th:text="${#strings.capitalize(context.elementName)}"></span> details</h3>
                        <div class="corner-buttons">
                            <button type="button" class="edit-button"><i class="fas fa-pen-to-square"></i></button>
                            <button type="button" class="close-button"><i class="fas fa-xmark"></i></button>
                        </div>
                    </div>
                    <form class="details-form">
                        <!-- Form fields will be added here -->
                    </form>
                </div>
            </aside>
        </div>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>