<!DOCTYPE html>
<html>
<head>
	<title>Store Management System</title>
	<link th:replace="/fragments/commonHead :: favicon" />
	<div th:replace="/fragments/commonHead :: styles"></div>
	<div th:replace="/fragments/commonHead :: scripts"></div>
	<script src="/js/populate.js"></script>
	<script th:inline="javascript">
		const LIST_NAME = /*[[${list.name}]]*/ "";
	</script>
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
        <div class="list-container">
			<div class="titlebar-container">
				<h2 class="inline-header"><span th:text="${list.title}"></span> Listing</h2>
				<div class="titlebar-elements">
					<div class="search-bar">
						<input type="text" placeholder="Search ID..." class="search-input" />
						<button type="submit" class="search-button"><i class="fas fa-search"></i></button>
					</div>
					<div class="insert-button">
						<button type="button" class="insert-top-button"><i class="fas fa-plus"></i></button>
					</div>
				</div>
			</div>
            <table class="element-table">
                <thead id="element-table-head">
					<!-- Headers will be added here -->
                </thead>
                <tbody id="element-table-body">
                    <!-- Items will be added here here -->
                </tbody>
            </table>
            <div class="insert-button">
                <button type="button" class="insert-bottom-button"><i class="fas fa-plus"></i></button>
            </div>
        </div>
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>