<!DOCTYPE html>
<html>
<head>
	<title>Store Management System</title>
	<div th:replace="/fragments/commonHead :: commonHead"></div>
	<div th:replace="/fragments/header :: css-js"></div>
	<div th:replace="/fragments/footer :: css-js"></div>
	<!-- List -->
	<link rel="stylesheet" th:href="@{/css/list.css}">
	<script th:inline="javascript">
		const TABLE_COLS = /*[[${tableCols}]]*/ ""
		const VARIANT = /*[[${variant}]]*/ ""
	</script>
	<script type="module" th:src="@{/js/list.js}"></script>
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
        <div class="list-container">
			<div class="titlebar-container">
				<h2 class="inline-header"><span th:text="${variant.listTitle}"></span></h2>
				<div class="titlebar-elements">
					<div class="search-bar">
						<input type="text" placeholder="Search ID..." class="search-input" />
						<button type="submit" class="search-button"><i class="fas fa-search"></i></button>
					</div>
					<div class="insert-button">
						<button type="button" class="insert-top-button"><i class="fas fa-plus"></i></button>
					</div>
				</div>
			</div>
            <table class="element-table">
                <thead id="element-table-head">
					<!-- Headers will be added here -->
                </thead>
                <tbody id="element-table-body">
                    <!-- Items will be added here here -->
                </tbody>
            </table>
            <div class="insert-button">
                <button type="button" class="insert-bottom-button"><i class="fas fa-plus"></i></button>
            </div>
        </div>
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>