<!DOCTYPE html>
<html>
<head>
	<title>Store Management System</title>
	<link th:replace="/fragments/commonHead :: favicon" />
	<div th:replace="/fragments/commonHead :: styles"></div>
	<div th:replace="/fragments/commonHead :: scripts"></div>
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
		<h2>Manage <span th:text="${menu.title}"></span> Menu</h2>
		<div class="info-card">
			<ul class="operations"> 
				<li><a href="#">Insert <span th:text="${menu.elementName}"></span></a></li>
				<li><a href="#">Remove <span th:text="${menu.elementName}"></span></a></li>
				<li><a href="#">Modify <span th:text="${menu.elementName}"></span></a></li>
				<li><a href="#">Search <span th:text="${menu.elementName}"></span></a></li>
				<li><a th:href="@{{subMenu}/list(subMenu=${menu.name})}">List <span th:text="${menu.elementName}"></span></a></li>
			</ul>
		</div>
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>