<!DOCTYPE html>
<html>
<head>
	<title>Store Management System</title>
	<div th:replace="/fragments/commonHead :: commonHead"></div>
	<div th:replace="/fragments/header :: css-js"></div>
	<div th:replace="/fragments/footer :: css-js"></div>
	<link rel="stylesheet" th:href="@{/css/manage.css}">
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
		<h2>Manage <span th:text="${variant.title}"></span> Menu</h2>
		<div class="info-card">
			<ul class="operations"> 
				<li><a href="#">Insert <span th:text="${variant.elementName}"></span></a></li>
				<li><a href="#">Remove <span th:text="${variant.elementName}"></span></a></li>
				<li><a href="#">Modify <span th:text="${variant.elementName}"></span></a></li>
				<li><a href="#">Search <span th:text="${variant.elementName}"></span></a></li>
				<li><a th:href="@{/manage/{subMenu}/list(subMenu=${variant.name})}">List <span th:text="${variant.elementsName}"></span></a></li>
			</ul>
		</div>
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>