<!DOCTYPE html>
<html>
<head>
	<title>Store Management System</title>
	<link th:replace="/fragments/commonHead :: favicon" />
	<div th:replace="/fragments/commonHead :: styles"></div>
	<div th:replace="/fragments/commonHead :: scripts"></div>
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>

	<main>
		<h2>Store info</h2>
		<div class="info-card">
			<h3>Store name: <span th:text="${store.name}"></span></h3>
			<hr/>
			<h3>Total Cost and Benefit:</h3>
			<p>Total Cost: <span th:text="${#numbers.formatDecimal(store.stockCost, 1, 2)}"></span> €</p>
			<p>Total Benefit: <span th:text="${#numbers.formatDecimal(store.stockBenefit, 1, 2)}"></span> €</p>
		</div>
		<h3>Full string representation</h2>
		<div class="info-card">
			<code class="toString" th:text="${store.toString()}"></code>
		</div>
	</main>

	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>